<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Market - Inicio de Sesión</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <script src="../js/scripts.js" defer></script>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Inicio de Sesión</h3>
                </div>
                <div class="card-body">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        <div class="text-center mt-3">
                            <a href="recover_password.html">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="text-center mt-3">
                            <a href="register.html">Crear una cuenta nueva</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const roles = {
            admin: ["admin@example.com"],
            user: ["user@example.com"]
        };

        const email = document.getElementById("email").value;

        if (roles.admin.includes(email)) {
            window.location.href = "admin.html";
        } else if (roles.user.includes(email)) {
            window.location.href = "profile.html";
        } else {
            alert("Correo electrónico no reconocido.");
        }
    });
</script>
</body>
</html>
